@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Mission 5";
}

    <!-- title and photo -->
    <h1 class="title">@ViewData["Title"]</h1>

    <figure class="image is-128x128">
        <img src="img/Snowboarding.jpg" />
    </figure>

    <!-- paragraph and top 3 jobs section-->
    <div class="content center">
        <h5>What I hope to get out of this class</h5>
        <div class="width50">
            <p class="center">
                I am personally not interested in pursuing a career in software development.
                However, I do enjoy software development for fun, so I am excited for this class,
                specifically to learn c# and more about the .NET framework.
                I am not just interested in this class for fun though,
                I also hope that gaining this knowledge of enterprise application development can apply to whatever career I choose.
            </p>
        </div>

        <br />

        <h5>Top 3 jobs I am interested in</h5>
        <p>Penetration Testing</p>
        <p>Cybersecurity Analyst</p>
        <p>Data Analyst</p>
    </div>